body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 40px;
    grid-gap: 10px 10px;
}

#votes {
    width: 20px;
}

#Nominations {
  width: 100%;
}

#knapp {
    grid-column:2;
}

#Day {
    font-size: 50px;
    text-align: center;
}

#timers{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px 10px;
}

#DayTimer {
    display:grid;
    grid-template-columns: 1fr 1fr;
}
#DefenseTimer {
    display:grid;
    grid-template-columns: 1fr 1fr;
}
#FiveTimer {
    display:grid;
    grid-template-columns: 1fr 1fr;
}

#people {
    grid-row : 1 / last-line;
}

span {
    font-size: 22px;
}

#fem {
    text-align: center;
}

#FiveminCheck{
    display: flex;
    justify-content: center;
}
